* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*color styles*/

:root {
    --dark-color: #141922;
    --dark-grey: #282828;
    --black: #000000;
    --white: #FFFFFF;
    --grey: #717171;
    --light-grey: #C1C1C1;
    --highlight: #ADFF2F;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    color: var(--grey);
    text-decoration: none;
}

a:hover,
a:active {
    color: var(--white);
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

li {
    padding: 10px;
}

hr {
    margin-top: 10px;
}

h2 {
    font-size: 15px;
    color: var(--white);
}

/*utility*/

.btn {
    padding: 10px 30px;
    display: inline-block;
    border-radius: 30px;
    border: 1px solid var(--white);
}

.scale {
    transform: scale(0.8);
    transition: transform 0.5s;
}

.scale:hover {
    transform: scale(1);
}

.u-text {
    text-transform: uppercase;
}

.text-small {
    font-size: 15px;
    color: var(--grey);
}

.txt-center {
    text-align: center;
}

.mb-10 {
    margin-bottom: 1vh;
}

.mleft-15 {
    margin-left: -15px;
}

.m-left15 {
    margin-left: 15px;
}

.ptop-10 {
    padding-top: 10px;
}

.txt-bold {
    font-weight: bold;
}

h3 {
    font-size: 20px;
}

/*flex*/

.d-flex {
    display: flex;
}

.justify-end {
    justify-content: flex-end;
}

.flexwrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
    align-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

/*content*/
.wrapper {
    width: 100%;
    height: 100vh;
    color: var(--white);
    background-color: var(--black);
    overflow: hidden;
}

main {
    width: 100%;
    height: calc(100% - 80px);
    overflow: hidden;
    display: flex;
}

.main-content {
    width: calc(100% - 230px);
    height: 100%;
    overflow-y: auto;
    background-color: var(--dark-color);
}

#call-to-action {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 230px);
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
}

.main-section {
    margin-top: 80px;
}

.container {

    padding: 15px;
}

.rounded-img {
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
}

.col {
    padding: 15px;
    width: calc(100% / 6);
}

.col img {
    width: 100%;
}

.cover {
    cursor: pointer;
}

.cover-text h3,
.cover-text h5 {
    text-align: center;
    padding-top: 10px;
}

.cover-image {
    position: relative;
}

.cover .cover-image::after {
    font-family: 'Font Awesome 6 Free';
    font-size: 3rem;
    content: "\f144";
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 1s;
}

.cover:hover .cover-image::after {
    opacity: 1;
}

/*nav laterale*/

.main-nav {
    width: 230px;
    min-height: 480px;
    background-color: var(--black);
    overflow: hidden;
}

.main-section nav ul li a {
    display: block;
    padding: 5px 15px;
}

.main-section nav ul li::after {
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    margin: 0 auto;
    background-color: transparent;
}

.main-section nav ul li:hover::after,
.main-section nav ul li.active::after {
    background-color: var(--highlight);
}

.bottom-nav {
    width: 100%;
    height: 80px;
}

.top-nav {
    width: 100%;
    height: calc(100% - 80px);
}

.logo {
    padding: 15px;
}

.logo-small {
    padding: 5px;
    display: none;
}

.logo img,
.logo-small img {
    width: 80%;
}

.aside-nav img {
    width: 30px;
    opacity: 0.8;
}

.aside-nav li {
    padding-bottom: 10px;
}

.aside-nav img:hover {
    opacity: 1;
}

.aside-nav a {
    border-left: 5px solid transparent;
    padding-left: 15px;
}

.aside-nav a:hover,
.aside-nav a.active {
    border-left: 5px solid var(--highlight);
}

.playlist {
    padding-left: 30px;
}

.playlist i {
    margin-right: 10px;
    margin-top: 10px;

}

.playlist a,
.aside-nav {
    font-weight: bold;
}

p.list{
    overflow: hidden;
}


.bottom-nav {
    padding: 0px 15px;
}

.bottom-nav i {
    font-size: 1rem;
    margin-right: 10px;
}


#profile .profile-image {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 15px;
}

#profile img {
    width: 30px;
    background-color: var(--light-grey);
    object-fit: cover;
}

/*playbar*/

#playbar {
    width: 100%;
    height: 80px;
    background-color: var(--dark-grey);
}

.playbar-album,
.playbar-vol {
    width: 230px;
    height: 100%;
    border: 1px solid red;
}

.playbar-album img {
    width: 50px;
}

.playbar-album span {
    color: var(--grey);
    font-size: 10px;
    font-weight: bold;
}

.img-button{
    margin-left: 20px;
}

.img-button a{
    padding-left: 10px;
}

.playbar-control {
    width: 40%;
    border: 1px solid yellow;
    height: 100%;
}

.icon-vol{
    padding: 5px;
    width: calc(100% / 3);
    border: 1px solid green;
}

.playbar-vol input{
    width: 100%;
}

/*responsive*/

@media screen and (max-width: 1200px) {
    .col {
        width: calc(100% / 4);
    }
}

@media screen and (max-width: 992px) {
    .col {
        width: calc(100% / 3);
    }
}

@media screen and (max-width: 768px) {
    .col {
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 576px) {
    .main-nav {
        width: 60px;
    }

    .main-content {
        width: calc(100% - 60px);
    }

    .logo,
    .aside-nav a span,
    .playlist {
        display: none;
    }

    .logo-small {
        display: block;
        padding-left: 10px;
        padding-top: 10px;
    }

    .aside-nav a {
        padding-left: 0px;
    }

    .aside-nav a.active {
        border: 2px solid transparent;
    }
}

@media screen and (max-width: 400px) {
    .col {
        width: 100%;
    }
}